/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key

/node_modules

**/.terraform/*

*.tfstate
*.tfstate.*
*.tfvars
/config/credentials/production.key
*.env

*yarn-error.log

.DS_Store

/sessionmanager-bundle
*AWSCLIV2.pkg
*.zip
