<div style="height: 1000px;">
  <div class="main-image-set hero min-h-screen relative">
    <%= render "shared/transition-opacity_bg-images" %>
    <%= render "shared/main-text-content" %>
  </div>
  <div>
    <%= render "shared/nature-sounds-list" %>
  </div>
</div>
