<h1><%= @user.email %>'s Profile</h1>
<h1><%= @user.name %>'s Profile</h1>
<%= link_to "ユーザー情報編集", edit_user_registration_path, class: "btn btn-ghost rounded-btn text-zinc-400" %>
<!-- その他のユーザ情報を表示するコード -->