<footer class="footer footer-center p-4 bg-base-300 text-base-content bg-zinc-800 transform translate-y-4">
  <div>
    <p class="text-zinc-400">&copy;<%= Time.zone.now.year %> Nature Sounds With Meditation</p>
  </div>
</footer>