<div class="navbar bg-base-300 rounded-box bg-zinc-800 z-2">
  <div class="flex-1 px-2 lg:flex-none">
    <ul class="flex space-x-4">
      <li>
        <button class="text-lg font-bold"><%= image_tag("JeSTz5hNnnHXG8U1692518567_1692518609.png", class: "w-20 h-20 transform translate-y-4", alt: "Description of the image") %></button>
      </li>
      <li>
        <p class="transform translate-y-7 text-zinc-400 text-2xl">Nature Sounds With Meditation</p>
      <li>
    </ul>
  </div> 
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch">
      <button class="btn btn-ghost rounded-btn"><a class="text-zinc-400">Button</a></button>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost rounded-btn"><a class="text-zinc-400">Dropdown</a></label>
        <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 bg-zinc-700">
          <li><a class="text-zinc-400">ログイン</a></li> 
          <li><a class="text-zinc-400">新規登録</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
