<div class="hero-content text-center text-neutral-content">
  <div class="max-w-md bg-white bg-opacity-50 p-5 rounded-lg">
    <h1 class="main-text mb-5 text-5xl font-bold transition-opacity duration-5000 ease-in-out">Do you meditate? Or do you play nature sounds?</h1>
    <p class="main-text mb-5 transition-opacity duration-5000 ease-in-out">日々のあなたのストレスを解消しましょう。<br>ここでは、あなたがありのままでいられる空間を<br>提供しています。</p>
    <button class="main-text btn btn-primary transition-opacity duration-5000 ease-in-out">meditate</button>
  </div>
</div>