.image_list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 1.4%;
}
.image_list li {
  width: 23.95%;
}
.image_list li figure {
  overflow: hidden;
  padding-top: 56.25%;
}
.image_list li figure img {
  width: 100%;
}
.image_list li figure {
  position: relative;
  overflow: hidden;
  padding-top: 60%;
}
.image_list li figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top_page .footer_position{
  margin-top: 1650px;
}

@media only screen and (max-width: 768px) {
  .top_page .footer_position {
      margin-top: 3500px;
  }
}
